@import "~antd/lib/style/themes/default.less";
@border-radius-base: 5px;

.main-header {
    background-color: @component-background;
    box-shadow: @shadow-1-down;
}

.box-component {
    background-color: @component-background;
    color: @text-color;
    border-radius: @border-radius-base;
    box-shadow: @shadow-1-down;
}

.box-primary {
    background-color: @primary-color;
    color: @white;
}

.box-default {
    background-color: @body-background;
    color: @text-color;
}
